<server description="JAXWS Web Sample Server">
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>jaxws-2.2</feature>        
        <feature>localConnector-1.0</feature>
        <feature>jsf-2.2</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint" httpPort="9131" />

    <application id="jaxws" location="${appLocation}" name="jaxws" type="war"/>

</server>